#Title {
    color: royalblue;
    text-align: center;

}
#subtitle {
    color:darkslateblue;
    text-align: center;

}
#mainPagePic {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 12px;


}
body {
    background-color: #eaf4f4;
}
.Intro {
    color:rgb(59, 108, 167);
    text-align: center;
    width: 60%;
    margin: auto;


}
.Intro p {
    font-size: 20px;
    color:#61889a;
}
.Featured {
    text-align: center;
    color: blue;
    font-size:30px;
}
.DistinctTraits h1{
    text-align: center;
    color:rgb(36, 144, 88);

}
.DistinctTraits h3 {
    text-align: center;
    color:rgb(36, 144, 88);

}
.Baba {
    text-align: center;
}
.Travels{
    text-align: center;
}
.Usa{
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}
.Usa summary {
    font-size:28px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

/*Need to align more with the center */
.World{
    padding: 20px;
    margin: 20px;
    border-radius: 15px;

}
.World summary{
    font-size:28px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.world-map {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: 20px auto;

}
.world-map img{
    display: block;
    width: 100%;
    border-radius: 15px;
}
.marker {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
}
.marker:hover {
    transform: scale(1.4);
}
.marker:hover .popup {
    display: block;
}
.marker:hover .popup img{
    display: block;
}
.blue { background-color: rgb(29, 43, 149);}
.red { background-color: #870000;}
.green { background-color: #07660f;}
.yellow { background-color: #c7b31b;}

.map-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
}
.map-container img{
    display: block;
    width: 100%;
    border-radius: 15px;
}
.popup {
    display: none;
    position: absolute;
    left: 25px;
    top: -20px;
    width: 300px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.popup img{
    display: none;
    position: absolute;
    left: -200px;
    top: -20px;
    background: white;
    padding: 15px;
    border-radius:10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 150px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}
.Stories {
    text-align: center;
    color:rgb(21, 119, 50)
}


.navbar {
    display: flex;
    background-color: #d5e5df;
    justify-content: center;
    align-items:center;
    gap: 30px;
    border-radius: 12px;
    width:70%;
    margin: 0 auto;



}
.navbar a {
    color: rgb(32, 145, 117);
    text-decoration: none;
    transition: color 0.3s;
    font-size: 24px;

}
.navbar a:hover {
    color: #C9A227;
}
.story-card{
    width: 70%;
    margin: 40px auto;
    background: white;
    border-radius:20px;
    padding:35px;
    box-shadow:0px 8px 18px rgba(0,0,0,0.2);
}
.story-card h2{
    color:rgb(0, 78, 0);
    font-size: 40px;
    margin-bottom: 10px;

}
.number{

    width:70px;
    height:70px;

    border-radius:50%;

    background:#455f2b;

    color:white;

    font-size:42px;

    display:flex;

    justify-content:center;
    align-items:center;

    font-weight:bold;
}
.story-header {
    display: flex;
    gap: 15px;
    align-items: center;

}
.quote {
    font-family:cursive;
    font-size:28px;
    color:#61784e;
    margin-top:30px;

}
.story-card p{
    font-size: 24px;
    line-height: 1.7;
}
.story-card hr{
    border: none;
    height: 2px;
    background:#6f8d65;
    margin-bottom:25px;
}
