/*index.html and body */
#title {
    color: royalblue;
    text-align: center;

}
#subtitle {
    color:darkslateblue;
    text-align: center;

}
.credits {
    font-size: 20px;
    text-align: right;
    margin: 40px;
    color:#3b6ca7;
}
.credits a {
    text-decoration: none;
    transition: color 0.3s;
    color:#3b6ca7;

}
.credits a:hover {
    color: #C9A227;
}
.credits hr{
    border: none;
    border-top: 2px dashed;

}
#main-page-pic {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 12px;


}
.navbar {
    display: flex;
    background-color: #96d5e8;
    justify-content: center;
    align-items:center;
    gap: 30px;
    border-radius: 12px;
    width:70%;
    margin: 0 auto;



}
.navbar a {
    color: rgb(22, 98, 79);
    text-decoration: none;
    transition: color 0.3s;
    font-size: 24px;

}
.navbar a:hover {
    color: #C9A227;
}
body {
    background-color: #c8f4f4;
}
.intro {
    color:rgb(59, 108, 167);
    text-align: center;
    width: 60%;
    margin: auto;


}
.intro p {
    font-size: 20px;
    color:#61889a;
}
.baba-image {
    object-position: center 40%;
}
.featured {
    text-align: center;
    color: blue;
    font-size:30px;
}
.featured-card {
    display: block;
    transition: 0.2s ease;
    background-color: #489dc4;
    text-decoration: none;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    color:#07660f;
    transition: color 0.3s;

}

.featured-card:hover{
    transform:scale(1.05)
}
.featured-card:hover h2 {
    color:#032f77
}
.featured-card:hover p {
    color:#032f77
}
.featured-card p {
    font-size: 20px;
}
.featured-card img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius:12px;
}
.featured-grid{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    width:80%;
    margin: 40px auto;
}



/*babaisms.html */
.baba {
    text-align: center;
    color:#0c597c
}
.speech-grid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(6, 1fr);
    width:80%;
    margin: 40px auto;
}
.thin-quote {
    grid-column: span 2;
}
.wide-quote {
    grid-column: span 3;
    text-align: center;
}
.speech-bubble {
    position: relative;
    background: #f8f8f8;
    border-radius: 20px;
    padding: 20px;
    max-width: 400px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    font-size: 24px;
    margin: 40px;
}
.big-quotes {
    font-size: 50px;
    font-family:cursive;
}
.huge-quote {
    display: flex;
    margin: 0 auto;

}
.small-line {
    width: 100%;
    margin-left: 0%;
}

/* Tail */
.speech-bubble::after {
    content: "";
    position: absolute;

    bottom: -18px;
    left: 80%;

    width: 0;
    height: 0;

    border: 10px solid transparent;
    border-top-color: #f8f8f8;
}



/*distinctTraits.html */
.distinct-traits h1{
    text-align: center;
    color:rgb(36, 144, 88);

}
.distinct-traits h2 {
    text-align: center;
    color:rgb(36, 144, 88);

}
.distinct-grid{
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 40px auto;
}
.distinct-card {

    margin: 40px auto;
    background: rgb(138, 231, 209);
    border-radius:20px;
    padding:35px;
    box-shadow:0px 8px 18px rgba(0,0,0,0.2);

}
.distinct-card p {
    font-size: 20px;
    color:#000000
}





/* travels.html */
.travels{
    text-align: center;
    color:rgb(38, 98, 186);
}
.usa{
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
}
.usa summary {
    font-size:28px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.ohio {
    top: 45.5%;
    left: 71%;
}
.yosemite {
    top: 45.5%;
    left: 5.1%;
}
.new-orleans {
    top: 78.5%;
    left: 60.1%;
}
.chicago {
    top: 39.5%;
    left: 63.1%;
}
.orlando {
    top: 81%;
    left: 79.1%;
}

.world{
    padding: 20px;
    margin: 20px;
    border-radius: 15px;

}
.world summary{
    font-size:28px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
.world-map {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: 20px auto;

}
.world-map img{
    display: block;
    width: 100%;
    border-radius: 15px;
}
.athens {
    top: 34.5%;
    left: 52%;
}
.london {
    top: 27.5%;
    left: 45%;
}
.toronto {
    top: 32.5%;
    left: 26%;
}
.hawaii {
    top: 44.5%;
    left: 6%;
}
.vancouver {
    top: 29.5%;
    left: 15%;
}
.marker {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s ease;
}
.marker:hover {
    transform: scale(1.4);
}
.marker:hover .popup {
    display: block;
}
.marker:hover .popup img{
    display: block;
}
.blue { background-color: rgb(29, 43, 149);}
.red { background-color: #870000;}
.green { background-color: #07660f;}
.yellow { background-color: #c7b31b;}

.map-container {
    position: relative;
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
}
.map-container img{
    display: block;
    width: 100%;
    border-radius: 15px;
}
.popup {
    display: none;
    position: absolute;
    left: 25px;
    top: -20px;
    width: 300px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.popup img{
    display: none;
    position: absolute;
    left: -200px;
    top: -20px;
    background: white;
    padding: 15px;
    border-radius:10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    width: 170px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}



/* stories.html */
.stories {
    text-align: center;
    color:rgb(21, 119, 50)
}

.story-card{
    width: 70%;
    margin: 40px auto;
    background: white;
    border-radius:20px;
    padding:35px;
    box-shadow:0px 8px 18px rgba(0,0,0,0.2);
}
.story-card h2{
    color:rgb(0, 78, 0);
    font-size: 40px;
    margin-bottom: 10px;

}
.number{

    width:70px;
    height:70px;

    border-radius:50%;

    background:#455f2b;

    color:white;

    font-size:42px;

    display:flex;

    justify-content:center;
    align-items:center;

    font-weight:bold;
}
.story-header {
    display: flex;
    gap: 15px;
    align-items: center;

}
.quote {
    font-family:cursive;
    font-size:28px;
    color:#61784e;
    margin-top:30px;

}
.story-card p{
    font-size: 24px;
    line-height: 1.7;
}
.story-card hr{
    border: none;
    height: 2px;
    background:#6f8d65;
    margin-bottom:25px;
}
